*{
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
header{
background-color: midnightblue;
display: flex;
justify-content: space-between;
color: #fff;
}
header a{
  float: left;
  padding-top: 10px;
  color: #fff;
}
header nav{
  float: right;
}
.aboutus{
  background-color:lightgray;
  margin: auto;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 200px;
}
.aboutus .p{
  width: 70%;
  margin-left: 175px;
}
h1{
  font-size: 70px;
}
.high{
  min-height: 250px;
}
.hi{
  background-color: #fff;
  margin-left:15px ;
}
.btn{
  background-color:midnightblue ;
  border-radius: 50px;
  height: 45px;
  width: 100px;
  color: #fff;
  margin-top: 50px;
}
.contact{
  background-color: midnightblue;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 200px;
  color: #fff;
}
.contact h1{
  
}
.input2{
  
}
.btn2{
  background-color:#fff ;
  border-radius: 50px;
  height: 45px;
  width: 100px;
  color: #000;
  margin-top: 50px;
  font-weight: bolder;
}
footer{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}