/* Global style */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.no-border {
    border: none;
}

.btn {
    display: block;
    margin: 15px 0;
    width: 100px;
    float: left;
    text-align: center;
    background: #942215;
    padding: 7px 0;
    color: #fff;
    border-radius: 7px;
    text-decoration: none;
}

body {
    font-family: sans-serif;
}


/* page style */
.wrapper {
    width: 901px;
    min-height: 650px;
    margin: auto;
}

header {
    height: 60px;
    line-height: 60px;
}

.logo {
    height: 100%;
    width: 30%;
    line-height: 90px;
    float: left;
}

nav {
    width: 65%;
    float: right;
}

nav ul {
    overflow: hidden; /* fix floating */
    padding-left: 138px;
}

nav ul li {
    float: left;
    width: 20%;
    text-align: center;
}

nav ul li a {
    border-right: 1px solid #b44c01;
    padding-right: 9px;
    color: #272727;
    text-decoration: none;
}

.banner {
    background-image: url("../images/banner.png");
    height: 202px;
}

.banner p {
    float: right;
    width: 50%;
    font-size: 25px;
    margin-top: 96px;
}

.banner p span{
    font-size: 38px;
    color: #004802;
}

main {
    overflow: hidden;
}

main .content {
    width: 55%;
    float: left;
    overflow: hidden;
}

main .content h1 {
    padding: 20px 0;
    color: #004802;
}

main .content h6 {
    padding-bottom: 10px;
    color: #0a356d;
}
main .content h2 {
     padding: 20px 0;
     margin-top: 20px;
     color: #004802;
}
main .cont{
    
    width: 48%;
    float: left;
    margin-right: 5px;  
}
main .co{
    width: 100%;
    overflow: hidden;

}
main .coo{
    width: 46%;
    float: right;
    border-left: 1px dashed black;
    padding-left: 30px;
    font-size: 15px   
}
main .news{
     width: 40%;
    float: right;
    padding-top: 25px

}
main .event{
    border: 5px solid sandybrown;
    padding: 10px;
    background-color: antiquewhite;
    font-size: 13px;
}
main .event h2 {
    color:green
}
main .event h4 {
    color:darkblue
}
main .event p {
    color:darkorange
}
main .new{
    margin-top: 40px;
    padding: 20px 25px 0 20px;
    background-color: #b9afaf;
}
footer{
    background-color: chocolate;
    min-height: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
}

footer ul {
    overflow: hidden; /* fix floating */
    padding-left: 270px;
    padding-top: 25px
}

footer ul li {
    float: left;
    /*width: 20%;*/
    padding-left: 10px;
    text-align: center;
}

footer ul li a {
    border-right: 1px solid white;
    padding-right: 9px;
    color: white;
    text-decoration: none;
}
footer p{
    color: white;
    margin-left: 270px;
}