*{
    font-family:'Open Sans', sans-serif;
    text-decoration: none;
}
header{
    background-color: transparent;
    z-index: 9999999;
}
header .head .im{
    margin-left: 100px;
    padding-top: 10px;
}
header nav{
    margin-left: 600px
}
header li a{
    color:#000;
}
header li a:hover{
    color: #24CDD5;
    text-decoration: none;
}
.banner{
    background-image: url(../images/[themesindustry.com][931]transparent-bg.png);
    height:657px;
    position: relative;
    overflow: hidden;
}
/****************/
#btnScrollToTop{
    position: fixed;
    right:10px;
    bottom:10px;
    height:35px;
    width:35px;
    border-radius:50%;
    background-color: #24CDD5;
    border:none;
    color: white;
    z-index: 9999999;
}
.img-ban1{
    position: absolute;
    right: 1059px;
    top: 40px;
    left: -101px;
    height: 385px;
}
.img-ban2{
    position: absolute;
    top: -52px;
    left: 997px;
    right: 0px;
    height: 370px;
}
.img-ban3{
    position: absolute;
    top: 309px;
    right: 979px;
    left: -271px;
    height: 680px;

}
.img-ban4{
    position: absolute;
    top: 342px;
    left: 1066px;
    right: 62px;
    height: 329px; 
}
.img-ban5{
    position: absolute;
    height: 179px;
    top: 406px;
    left: 113px;
}
.img-ban6{
    position: absolute;
    height: 217px;
    top: 498px;
    left: 140px;
}
.banner .text{
    position: absolute;
    text-align: center;
    bottom: 250px;
    left:420px;
}
.banner .text h5{
    font-size: 55px;
    color: #808080;
}
.banner .text h4{
    font-size: 40px;
    font-weight: bolder;
}
.banner .text button{
    border-radius: 30px;
    width: 32%;
    margin-top: 10px;
    background-color:#24CDD5;
    border-color: #24CDD5;
    margin: auto;
}
.banner .text button:hover{
    background-color: aliceblue !important;
    color:#24CDD5;
}
.banner .text a{
    position: absolute;
    top: 425px;
    left: 230px;
    color: black;
    padding-top: 20px;
}
.banner .text a:hover{
    color: #24CDD5;
    text-decoration: none;
}
.take .row .space{
    margin-top: 120px;  
}
.take .row .space h3{
    font-size: 50px;
}
.take .row .space span{
    color: #24CDD5;
    font-size: 40px;
}
.take .row .space p{
    color: #808080;
    margin-top: 20px;
    margin-bottom: 20px;
}
.take .row .space button{
    border-radius: 20px;
    padding: 5px 25px;
}
.work{
    background-color:#26313c;
    color: aliceblue;
    padding-bottom: 20px;
}
.work h5{
    padding-top: 100px;
}
.work h2{
    font-size: 50px;
}
.work .di{
    width: 90px;
    height: 90px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin: auto;
}
.work .di:hover{
    background:linear-gradient(90deg, #5192e1, #23ced5);
}
.mobile{
    position: relative;
}
.tell h6{
    color: #24CDD5;
    font-size: 20px;
}
.tell h3{
    font-size: 50px;
}
.tell2 p{
color:#808080;
}
.mobile .option{
    border:1px solid #24CDD5;
    width: 30%;
}
.mobile .option i{
    color: #24CDD5;
    font-size: 35px;
}
.mobile .option h3{
    color: #808080;
}
.mobile .option p{
    color: #808080;
}
.mobile .mob{
    position: absolute;
    width: 240px;
    height: 288px;
    top: 254px;
    left: 537px;
}
.mobile .cont{
    position: absolute;
    top:238px;
    left:528px;
}
.start{
    background-image: url(../images/[themesindustry.com][30]counter-bg.jpg);
    margin-top: 150px;
    height: 400px;
    color:  white;
    background-attachment: fixed;
}
.start .container{
    padding-top: 150px;
}
.start .container h4{
    font-size: 70px
}
.start .container h3{
    font-size: 100px;
}
.start .container p{
    padding-top: 25px;
}
.expert{
    margin-top: 130px;
    position: relative;
    z-index: 9999;
}
.expert .row{
    padding: 0px;
    margin: 0px;
}
.expert .se{
    background-color: white;
    padding: 0px 0px;
}
.expert .se:hover{
    background:linear-gradient(90deg, #5192e1, #23ced5);
    background-size: 200% auto;
}
.expert .se h6{
    color: #808080;
}
.offer{
    background-color: #e6e3e3;
    padding-top: 230px;
    position: relative;
    bottom: 100px;
    padding-bottom: 100px;
}
.offer .container h3{
    color: #24CDD5;
    font-size: 18px;
}
.offer .container h2{
    font-size: 55px;
}
.coloring{
    background-color: white
}
.coloring:hover{
    background-color: #000;
    color: white
}
.offer .row .book{
    font-size: 40px;
    color:rgb(221, 4, 4);
    position: relative;
    left: 150px;
}
.offer .row h6{
    font-size: 18px;
    color:#808080;   
}
.offer .row p{
    color:#808080;
}
.offer .po{
    position: relative;
    left:30px;

}
.offer .row ul{
    list-style: none;
    text-align: left;
    left:38px;
}
.offer .row ul li{
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 18px;
    color: #808080;
}
.offer .row ul .right{
    color: chartreuse;
    font-size: 18px;
    position: relative;
    right: 30px;
}
.offer .row ul .cross{
    color: darkred;
    font-size: 18px;
    position: relative;
    right:26px;
}
.offer .row button{
    background-color: #24CDD5;
    border-color: #24CDD5;
}
.offer .row button:hover{
    background-color: #000;
    color: #fff;
    border-color: #fff;
}
.pepole{
    background-image: url(../images/[themesindustry.com][959]testimonial-bg.jpg);
    height: 300px;
    color: #fff;
    text-align: right;
    background-attachment: fixed;
}
.pepole p{
    padding-top: 100px;
    font-size: 20px;
}
.pepole h2{
    font-size: 50px;
}
.number{
    background-color: #e6e3e3;
    height: 400px;
   /* position: relative;*/
}
.number img{
   border: 2px;
}
.number .pra{
    bottom: 80px;
    right: 95px;
}
.number .pe{
    color: #24CDD5;
    padding-top: 10px;
}
.number .pi{
    color: #808080;
}
.number .pa{
    color: #808080;
    font-size: 15px
}
.number .con{
    background-color: #fff;
    min-height: 150px;
    position: relative;
    z-index: auto;
    margin-top: 53px;
    position: relative;
}
footer{
    background-color: #26313c;
    min-height: 400px;
    color: #fff;
}
footer .x{
    font-size: 13px;
}
footer .v{
    border: 1px solid ghostwhite;
    padding: 6px 9px;
    margin-top: 15px;
}
footer ul{
    list-style: none;
}
footer .z ul li{
    border-bottom: 1px solid rgb(156, 156, 160)
}
footer .l p{
   margin-left: 37px;
}
footer .l ul{
    margin-right: -45px
}

