.log{
    height:750px;
    background:url(../img/log.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

}
.logbox{
    position: absolute;
    width: 320px;
    height:300px;
    background: rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 35px;
}

.logbox img{
    position: absolute;
    top: 20px;
    left:50px;
}

.fas.fa-user-alt{
    position: relative;
    width: 100px;
    height:100px;
    padding: 5px 0;
    top: -65px;
    left: calc(50% - 50px);
    border-radius: 50%;
    background: lightgray;
    color: #fff;
    font-size: 75px;
    text-align: center;
}
.log-text{
    color: white;
    text-align: center;
    font-size: 25px;
}
.form p{
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-weight: bold;
    margin: 0 25px;
}
.form input{
    width: 80%;
    margin-bottom: 20px;
    margin: 0 25px 20px 25px;

}
.form input[type="text"],input[type="password"],input[type="tel"],input[type="email"]{
    border: none;
    border-bottom: 1px solid #f80270;
    background: transparent;
    outline: none;
    height:40px;
    color: #fff;
    font-size: 16px;
}
.form input[type="submit"], input[type="reset"]{
    border: none;
    outline: none;
    height:40px;
    background: #f80270;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
}
.form input[type="submit"]:hover,input[type="reset"]:hover{
    cursor: pointer;
    background: #ffffff;
    color: #f80270;   
}
.form a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    margin: 25px;
    color: darkgrey;
}
.form a:hover{
    text-decoration: none;
    color: #f80270
}
.signbox{
    position: absolute;
    width: 400px;
    height:560px;
    background: rgba(0, 0, 0, 0.5);
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 35px;
    padding-top: 5px;
}
.log img{
    text-align: center;
    position: absolute;
    left:550px;
}
.btn.drob{
    background: #f80270;
    color: #ffffff
}
.input-group.mb-3{
    width: 80%;
    left:30px;
}

.form2 p{
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-weight: bold;
    margin: 0 25px;
}

.custom-select{
   background: transparent;
    border: none;
    border-bottom: 1px solid #f80270;
    box-shadow: none;
    width: 50% ;
}

.form2 input{
    width: 80%;
    margin-bottom: 20px;
    margin: 0 25px 20px 25px;

}
.form2 input[type="text"],input[type="password"],input[type="tel"],input[type="email"], input[type="datetime"], input[type="time"]{
    border: none;
    border-bottom: 1px solid #f80270;
    background: transparent;
    outline: none;
    height:40px;
    color: #fff;
    font-size: 16px;
}
.form2 input[type="submit"], input[type="reset"]{
    width: 40%;
    border: none;
    outline: none;
    height:40px;
    background: #f80270;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin: 0 0 20px 25px;

}
.form2 input[type="submit"]:hover,input[type="reset"]:hover{
    cursor: pointer;
    background: #ffffff;
    color: #f80270;   
}
.form2 a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    margin: 25px;
    color: darkgrey;
}
.form2 a:hover{
    text-decoration: none;
    color: #f80270
}
