*{
	padding: 0px;
	margin:0px; 
}
.container{
	display: flex;
	background-color: #75a9f7;
	height: 80px;
	justify-content: space-around;
	align-items: center;
}
.container a{
	color: white;
}
.con{
	height: 200px;
	display: flex;
	justify-content: space-around;
	background-color: #cceff5;
	align-items: center;
}
.con a{
	text-decoration: none;
}
.box-container{
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	justify-content: center;
}
.box-container .box1{
	order: 4;

}
.box-container .box2{
	order: 2
}
.box-container .box3{
	order: 3;
	padding-right: 150px;
}
.box-container .box4{
	order: 4
}
.box-container .box5{
	order: 1
}
.fot{
	display: flex;
	height: 150px;
}
.fot .f1{
	
	background-color:#75a9f7;
	flex: 1
}
.fot .f2{
 
 	background-color:#cceff5;
 	flex: 2
}
.fot .f3{
	
	background-color:#75a9f7;
	flex: 1
}
