
body{
	font-family: sans-serif;
	
}
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0,.2);
}
header{

	background-color: #666;
	height: 80px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 30px 60px 0 40px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	background: rgba(0, 0, 0,0);
	z-index: 999;
}
header a{
		color: #fff;
}

header .head{
	display: flex;
	justify-content: space-between;
}
header .head .logo{
	font-weight: bolder;
	font-size: 48px;
	position:relative;
	bottom: 27px;
}
header .head .cont{
	display: flex;
	justify-content: space-between;
}
header .head .cont nav{
	margin-right: 30px;
}
header .head .cont nav ul{
	display: flex;
	
	font-size: 0px;
}
header .head .cont nav ul li{
	margin-left: 20px
}
header .head .cont nav ul a{
	font-size: 15px;
	font-weight: bold;

}
.cont{
	position: relative;
}
.cont button{
	background-color: #007bff;
	border:none;
	color: white;
	border-radius:19.5px;
	font-weight: bold;
	position: relative;
	bottom: 6px
}
.creative .cre button:hover{
	background-color:blue;
	border:none;
	color: white;
}
.creative{
	background-image: url(../images/[inspirothemes.com][28]100.jpg);
	height: 550px;
	position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	margin-bottom: 100px;
}
.creative .cre{
	margin: auto;
	text-align: center;
	padding-top: 150px;
	color: #fff;
}
.creative .cre button{
	background-color: #007bff;
	border:none;
	color: white;
	border-radius:19.5px;
	font-weight: bold;
}
.creative .cre button:hover{
	background-color:blue;
	border:none;
	color: white;
}

.creative .cre h1{
	font-weight: bold;
	font-size: 75px;
	padding-bottom: 20px;
}
.creative .cre h4{
	padding-bottom: 40px;
}
.im{
	background-image: url(../images/[inspirothemes.com][297]7.jpg);
	min-height: 200px;
	margin: 90px 0 100px 0; 
	color: #fff;
}
.im button{
	border-color: white;
	background-color: transparent;
	color: white;
	font-weight: bold;
}

.work{
	position: relative;
	margin-bottom: 50px;
}
.work .container .row .col-7 p{
	font-size: 18px;
	color: #212529;
}
.work .container .row .x {
	position: absolute;
	left: 1039px;
	top: 60px;
}
.work .container .row .x a{
	border-radius: 20px;
	border:1px solid gray;
	padding:4px 20px; 
	box-sizing: border-box;
}
.work h2{
	font-size: 60px;
	margin-bottom: 30px;

}
.work .contain{
	display: flex;
	flex-wrap: wrap;
	position: relative;

}
.count{
	margin-top:310px; 
	background-image: url(../images/[inspirothemes.com][567]5.jpg);
	height: 350px;
	margin-bottom: 200px;
	text-align: center;
	color: #fff;
	position: relative;

}
.count h3{
	font-size: 50px;
	font-weight: bold;
}
.count hr{
	background-color:white;
	width: 10%;
}
.count-title{
	float: left;
	position: absolute;
	top: 117px;
}
.know .k p{
	color: #777;
	width: 75%;
	margin-left: 100px
}
.know .k h5{
	font-weight: bold;
}
.know .k h3{
	font-size: 35px;
}
.know .row .wi{
	width: 90%;
}
.know .row .col-4 .p{
	width: 90%;
	font-size: 18px;
	font-weight:400;
	color: #777;
}
.know .row .col-4 .blus{
	border-radius: 5px;
	border: 2px solid #eee;
	padding:10px 0;
	margin-top:30px; 

}
.know .row .col-4 .blus a{
	margin-left: 130px;
	color: black;
	font-size: 25px
}
.know .row .wi .a{
	justify-content: space-between;
	align-items:flex-end;
}
.know .row .big {
 	height: 10px;
 	background-color: #eee;
}
.know .row .small1 {
 	height: 10px;
 	background-color:#2a1de8; 
}
.know .row .small2 {
 	height: 10px;
 	width: 94%;
 	background-color:#2a1de8; 
}
.know .row .small3 {
 	height: 10px;
 	width: 89%;
 	background-color:#2a1de8;
}
.know .row .small4 {
 	height: 10px;
 	width: 78%;
 	background-color:#2a1de8; 
}
.know .row .small5 {
 	height: 10px;
 	width: 75%;
 	background-color:#2a1de8;
}
.know .row .col-4 .last .l{
	width: 50%;
	text-align: left;
}
.know .row .col-4 .last .l a{
	color: black;
}
.know .row .col-4 .last .l span{
	font-size: 12px;
	color: #777;
}
.know .row .col-4 .last .l a:hover{
	text-decoration:none; 
	color: blue;
}
.know .row .col-4 .last .li{
	width:40%;
}
.main{
	margin-bottom: 50px;
}
.main h2{
	width: 50%;
	font-size: 48px;
	margin:auto;
	margin-bottom: 30px;
}
.main p{
	font-size: 18px;
	width: 60%;
	margin:auto;
	color: #777;
}
.main hr{
	background-color: blue;
	width: 10%;
	margin-bottom: 30px;
	height: 1px;
}
.fe{
	margin-bottom: 150px;
}
.fe .row .col-4 span{
	font-size: 40px;
	border:3px solid black;
	border-radius: 50%;
	box-sizing: border-box;
	padding: 5px 15px;
}
.fe .row .col-4 p{
	color: #777;
}
.fe .row .col-4 h5{
	padding-top: 30px
}
.meet{
	background-color: #f7f9fb;
	min-height: 700px;
	text-align: center;
	padding-bottom: 200px;

}
.meet .me h2{
	font-size: 50px;
}
.meet .me p{
	color: #bbb;
	font-size: 18px
}
.meet .me hr{
	background-color: blue;
	width: 10%;
	margin-bottom: 30px;
	height: 1px;
}
.meet .row .col-3 img{
	border-radius: 50%;width: 250px
}
.meet .row .col-3 h6{
	color: #bbb;
}
.meet .row .col-3 p{
	 color: #777;
}
.meet .row .col-3 i{
	background-color: #fff;
	border:1px solid #777;
	border-radius: 50%;
	padding:4px 8px; 
	font-size: 12px;
}
.us{
	background-image: url(../images/[inspirothemes.com][16]background-4.png);
	min-height: 800px;
}
.us .col-6 span{
	font-weight: bolder;
}
.news{
	background-color:#2250fc ;
	height: 200px;
}
.news form{
	line-height: 200px;

}
.news form .as{
	display: flex;
	justify-content: center;
	padding-top: 10px;
	position: relative;
}
.news form .as .in{
	height: 38px;
	position: absolute;
	right: 701px;
}
.news form .as .an{
	position: absolute;
	left: 700px;
}
.news form h6{
	color: #fff;
	font-size: 12px;
}
.fot .polo{
	display: flex;
}
.fot .polo .bu p{
	width: 50%;
	padding:10px 0 20px 0px;
}
.fot .polo h6{
	padding-top: 70px;
}
.fot .polo ul li{
	padding-top: 10px;
	color: #484848;
}
.list{
	list-style: none;
}
footer{
	background-color: #eff1f4;
	height: 100px;
}
footer p{
	text-align: center;
	color: #484848;
	padding-top: 40px;
}