
/* page style */

/* header */
header {
    height: 60px;
    background: #111;
    line-height: 60px;
}

header .logo {
    /*float: left;*/
    width: 24.5%;
    display: inline-block;
    font-size: 38px;
}

header nav {
    /*float: left;*/
    display: inline-block;
    margin: auto;
    width: 50%;
}

header .sidebar-menu {
    /*float: right;*/
    display: inline-block;
    width: 24.5%;
    font-size: 33px;
    text-align: right;
}

header nav ul {
    /*overflow: hidden;*/
    text-align: center;
}

header nav ul li {
    /*float: left;*/
    margin-right: 15px;
    display: inline-block;
}

header nav ul li a {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
}
/* end header */

/* banner */
.banner {
    position: relative;
    height: 700px;
    text-align: center;
    background-image: url("../images/distortion.jpg");
}




.banner .slider .container p {
    padding: 50px 0 30px;
    font-size: 30px;
}

.banner .slider .container h1 {
    padding: 0 0 30px;
    font-size: 60px;
    max-width: 50%;
    display: inline-block;
}

.banner .slider .container a {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 30px;
    display: inline-block;
}
/* end banner */

/* partners */
.partners {
    background: #333333;
    height: 130px;
    text-align: center;
    line-height: 130px;
}

.partners {
    background: #555;
    height: 130px;
    line-height: 130px;
}

.partners .item {
    display: inline-block;
    margin: 20px 15px 0;
}
/* end partners */

/* about */
.about {
    background: #111;
    min-height: 400px;
}
.about .row .col-2 h4{
    padding : 60px 0 0 40px;
    font-size: 38px;
    text-align: left;

}
.about .row .col-2 p{
    padding:100px 0 0 20px ;
    color: #666;
    text-align: left;
}
.about .row .col-4 h6{
    color: white;
    padding: 50px 0 0 10px;
    font-size: 20px
}
.about .row .col-4 h5{
    padding: 20px 0 30px 10px;
    font-size: 30px
}
.about .row .col-4 p{
    padding-left: 10px;
    font-size: 16px
}
.about .row .card1{
    background-image: url(../images/card-image-1.jpg);
    text-align: left;

}
.about .row .card2{
    background-image: url(../images/card-image-2.jpg);
    text-align: left;
    
}
.about .row .card3{
    background-image: url(../images/card-image-3.jpg);
    text-align: left;
    
}
.about .row .card4{
    background-image: url(../images/card-image-4.jpg);
    text-align: left;

}


/* end about */
.info{
    min-height: 750px;
    background: #111;
}
.info .container .we h6{
    text-align: center;
    padding: 90px 0  30px 0;
    color: #666;
    font-size: 16px;
}
.info .container .we h4{
    text-align: center;
    padding-bottom:30px; 
    font-size: 30px;

}
.info .container .we p{
    text-align: center;
    width: 50%;
    padding-left: 300px;
    color: #666;
    font-size: 16px;

}
.car2{
    width: 24%;
    margin-right: 1.5px;
    min-height: 300px;
    font-size: 16px;
    float: left;
    margin-top: 60px;

}

.info .container .car2 h5{
    padding: 140px 0 20px 0px;
    text-align: center;
    font-size: 18px;

}
.info .container .car2 p{
    text-align: center;
    color: #666;

}

header .logo2 {
    float: left;
    width: 40%;
    display: inline-block;
    font-size: 38px;
    margin-left: 40px;

}

header .nav {
    float: right;
    display: inline-block;
    margin: auto;
    width: 50%;
}
header .nav ul {
    /*overflow: hidden;*/
    text-align: center;
}

header .nav ul li {
    /*float: left;*/
    margin-right: 15px;
    display: inline-block;
}

header .nav ul li a {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.banner2 {
    position: relative;
    height: 700px;
    text-align: center;
    background-image: url("../images/[paul-themes.com][547]home-slide-2.jpg");
}
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0,.5);
}
.clients{
    background-color: #2c2c2c;
    min-height: 500px;
}
.meet{
    background-color: #242323;
    min-height: 900px;

}
.se{
    position: relative;
   bottom: 12PX;
   left: 10PX;
   display: inline-block;
   font-size: 10px;"
}
.se span{
    font-weight: bolder;
    font-size:20px

}
.team{
    margin: auto;
    text-align: center;
    padding-top: 140px;
}
.team h5{
    color: #666;
    padding-bottom: 20px;
}
.team h3{
    font-size: 20px;
    font-weight: 200px;
    padding-bottom: 30px;
}
.team p{
    color: #666;
    width: 60%;
    margin-left: 230px;
    padding-bottom: 80px;
}
.Friendly{
    text-align: center;
}
.Friendly span{
    font-size: 20px;

}
.Friendly p{
    color: #666;
    padding-top: 10px;
    padding-bottom: 50px;

}
.Friendly img{
    padding-bottom: 10px;

}
.winning{
    background-color:#242323;
    min-height: 800px;
}
.winning .container h5{
    color: #666;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.winning .container span{
    font-size: 25px;
    font-weight: bolder;
}
.prizes{
    width: 100%;
    position: relative;
    bottom: 110px;
}
.date{
    width: 29%;
    display: inline-block;
    font-weight: bold;
}
.date span{
    display: inline-block;
}
.date1{
    position: relative;
    top: 149px;
}
.date2{
    position: relative;
    top: 175px;

}
.bank{
    width: 69%;
    display: inline-block;
    position: relative;
    top: 224px;
    font-size: 20px;

}
.bank .centeral{
    width: 40%;
    display: inline-block;
    margin-right: 30px;
    padding-bottom: 50px;
}
.centeral p{
    text-align: left;
}
.centeral span{
    color: #f14201;

}
.bank .Museum{
    width: 40%;
    display: inline-block;
    padding-bottom: 50px;
    
    
    font-size: 21px
}
.Museum span{
     color: #f14201;

}
.Museum p{
    text-align: left;

}
.blog{
    background-color:#242323;
    min-height: 500px;
    position: relative;
}

.back{
    width: 28%;
    min-height: 240px;
    font-size: 16px;
    display: inline-block;
    text-align: left;
}
.back1{
    position: relative;
    background-image: url(../images/[paul-themes.com][716]studio-post-image-1.jpg);
}
.back2{
    position: relative;
    background-image: url(../images/[paul-themes.com][5]studio-post-image-2.jpg);
}
.back3{
    position: relative;
    background-image: url(../images/[paul-themes.com][378]studio-post-image-3.jpg);
}
.in{
    margin-top: 140px;
    text-align: left;
}
.in span{
    padding-bottom: 10px;
    padding-left: 15px;
}
.back a{
    padding-left: 15px;
}
.so{
    margin-top: 50px;
}
.blog .fot .container h5{
    color: #666;
    font-style: 15px;
    margin-bottom: 10px;
    padding-top: 30px;

}
.blog .fot .container span{
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 50px;
    
}
footer{
    background-color:#242323;
    min-height: 500px; 
}
.tot{
    margin: auto;
    width: 1200px;
}
.tot span{
    display: block;
    font-weight: bolder;
    margin-bottom: 20px;
}
.tot ul li{
    margin-bottom: 10px;
    color: #666;
}






