/* Reset values */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #fff;
}

/* Global Style */
body {
    font-family: sans-serif;
}

.container {
    width: 1150px;
    margin: auto;
    text-align: center;
    /*min-height: 650px;*/
    /*background: #c3c3c3;*/
}

.row {
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.col-2 {
    display: inline-block;
    width: 49%;
    min-height: 300px;
    background: #111;
}

.col-4 {
    width: 24%;
    margin-right: 1%;
    min-height: 450px;
    font-size: 16px;
    float: left;


}
.col-3{
    width: 30%;
    margin-right: 30px;
    min-height: 150px;
    font-size: 16px;
    float: left;
    


}


.mt-15 {
    margin-top: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

.pt-15 {
    padding-top: 25px;
}

.pb-15 {
    padding-bottom: 15px;
}